@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
 /* Font families. */
--font-family-sans: "Roboto", sans-serif;
 /* Primary Brand Colors */
--Primary-Dark-Blue: #020079;
--Aqua-Blue: #0074ff;
--Sun-Glow-Yellow: #ffb000;
--Verdant-Green: #30BF2C;

 /* Scondary Brand Colors */
--Thermal-Orange: #FF6633;
--Energetic-Purple: #AD03DE;
--Breezy-Blue:#93f2ff;
--Nuclear-Blue: #085A9B;
--Forrestal-Green: #00662c;
--Very-Faint-Blue: #F1F7FF;

/* Scondary Neutral Colors */
--Soil-Brown: #5f504d;
--Elemental-Grey: #C5CBD1;
--Industrial-Grey:#3f474E;
--Asphalt-Black: #000000;
--Pure-White: #ffffff;

/* Utility */
--box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.15);

}
.drop-shadow {
  box-shadow: var(--box-shadow);
}
.pure-white {
  color: var(--Pure-White);
}
.max-height278 {
  max-height: 278px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #242424;
}
main {
  padding-inline: 1rem;
}
.margin-bottom-1 {
  margin-bottom: 8px;
}
.margin-bottom-205 {
  margin-bottom: 20px;
}
.margin-bottom-4 {
  margin-bottom: 32px;
}
.margin-bottom-8 {
  margin-bottom: 64px;
}
.padding-top {
  padding-top: 40px;
}
.padding-bottom-5 {
  padding-bottom: 48px;
}
.radius-lg {
  border-radius: 8px;
}
img, svg {
  vertical-align: middle;
}
img.img-fluid {
  max-width: 100%;
  height: auto;
}
.btn-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------
  Layout Styles
-------------*/
.breezy-bg {
  background-color: var(--Breezy-Blue);
}
.padding-1 {
  padding: .5rem !important;
}
.display-inline-block {
  display: inline-block !important;
}


.primary-h1-container {
  border-radius: 8px;
  padding: 2rem;
  background-color: var(--Primary-Dark-Blue);
}
.breezy-h1-container {
  border-radius: 8px;
  padding: 2rem;
  background-color: var(--Breezy-Blue);
}
.breezy-h1-container h1 {
  color: var(--Primary-Dark-Blue);
}
.primary-h1-container h1 {
  color: var(--Sun-Glow-Yellow);
}
.primary-h1-container h3 {
  color: #fff;
}
.sun-glow-yellow-h1-container {
  border-radius: 8px;
  padding: 2rem;
  background-color: var(--Sun-Glow-Yellow);
}
.sun-glow-yellow-h1-container h1 {
  color: var(--Asphalt-Black);
}


.color-box {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.primary-blue-color-bx {
  background-color: var(--Primary-Dark-Blue);
  
}
.aqua-blue-color-bx {
  background-color: var(--Aqua-Blue);
}
.faint-blue-color-bx {
  background: var(--Very-Faint-Blue);
}
.sun-glow-yellow-color-bx {

  background-color: var(--Sun-Glow-Yellow);

}
.verdant-green-color-bx {
  background-color: var(--Verdant-Green);
}
.thermal-orange-color-bx {
  background-color: var(--Thermal-Orange);
}
.energetic-purple-color-bx{
  background-color: var(--Energetic-Purple);
}
.breezy-blue-color-bx{
  background-color: var(--Breezy-Blue);
}
.nuclear-blue-color-bx{
  background-color: var(--Nuclear-Blue);
}
.forrestal-green-color-bx{
  background-color: var(--Forrestal-Green);
}
.soil-brown-color-bx {
  background-color: var(--Soil-Brown);
}
.elemental-grey-color-bx {
  background-color: var(--Elemental-Grey);
}
.industrial-grey-color-bx {
  background-color: var(--Industrial-Grey);
}
.asphalt-black-color-bx {
  background-color: var(--Asphalt-Black);
}

#consumer-savings .grid-row {
  box-shadow: var(--box-shadow);
}
#consumer-savings .grid-row > .consumer-saving-content .grid-row
 {
  box-shadow:none;
}
.consumer-saving-content {
  background-color: white;
  border-radius: 8px 0px 0px 8px;
  padding: 2rem;
}
.consumer-saving-img {
  border-radius: 0px 9px 8px 0px;
  -webkit-border-radius: 0px 9px 8px 0px;
  -moz-border-radius: 0px 9px 8px 0px;
}


/*-------------
  Typography Styles
-------------*/
a {
  background-color: transparent;
  color: var(--Primary-Dark-Blue);
  text-decoration: underline;
}
.usa-link {
  color: var(--Primary-Dark-Blue);
  text-decoration: underline;
}
.usa-dark-background {
  background-color: var(--Primary-Dark-Blue);
}
.usa-dark-background p {
  color: #fff;
}
.usa-dark-background a, 
.usa-dark-background a:visited {
  color: #e6e6e6;
}
p {
  margin-bottom: 2rem;
}
.heading {
  position: relative;
}
.icon-rule {
  margin-bottom: 1rem;
}
h1 {
  /* font-size: 46px; */
  font-size: clamp(2.25rem, 1.4688rem + 2.5vw, 2.875rem);
  line-height: 1;
}
h2 {
  font-size: 33px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-family-sans);
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1;
  
}
h1, h2 {
  text-transform: uppercase;
  margin-top: 0;
 
}
h3 {
  text-transform: none;
  font-size: 26px;
}
h4 {
  text-transform: none;
  font-size: 20px;
}
h5 {
  text-transform: none;
  font-size: 18px;
}
.usa-list {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5;
  padding-left: 3ch;
}
.usa-button {
  font-family: var(--font-family-sans);
  font-size: 1.06rem;
  line-height: .9;
  color: #000;
  background-color: var(--Elemental-Grey);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  -moz-column-gap: .5rem;
  column-gap: .5rem;
  display: flex;
  font-weight: 400;
  justify-content: center;
  margin-right: .5rem;
  padding: .75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  margin-bottom: 2rem;
  position: relative;
}
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  /* background-color: - add your own background-color */
  font-family: "Roboto", sans-serif;
  /* put your font-family */
  font-size: 18px;
  padding: 20px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--Thermal-Orange);
}
/* effect-1 styles */
.effect.effect-1 {
  transition: all 0.2s linear 0s;
}
.effect.effect-1:before {
  content: "";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
}
.effect.effect-1:hover {
  text-indent: -20px;
}
.effect.effect-1:hover:before {
  opacity: 1;
  text-indent: 0px;
}

.primary-btn {
  background: var(--Sun-Glow-Yellow);
  color: var(--Asphalt-Black);
  transition: all 300ms;
}
.primary-btn:hover {
  background: #e69e00;
  color: var(--Asphalt-Black);

}
.primary-btn:hover:before {
  text-indent: 0px;
}
.primary-btn--hover{
  background: #e69e00;
  color: var(--Asphalt-Black);
}
.secondary-btn {
  background: var(--Primary-Dark-Blue);
  color: var(--Pure-White);
  transition: all 300ms;
}
.secondary-btn:hover {
  background: var(--Aqua-Blue);
  color: var(--Pure-White);
}
.secondary-btn--hover{
  color: var(--Pure-White);
  background: var(--Aqua-Blue);
}
.usa-focus {
  outline: .25rem solid #2491ff;
  outline-offset: 0;
}

.usa-icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  position: relative;
  width: 1em;
}
@media (min-width: 30em) {
  .usa-button {
      width: auto;
  }
}
/* -----------------
  Components 
------------------*/
.usa-accordion__heading{
  font-family: var(--font-family-sans);
  font-size: 1.06rem;
  line-height: .9;
  margin: 0;
}
.usa-accordion {
  list-style-type: none;
  color: #1b1b1b;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.06rem;
  line-height: 1.5;
}
.usa-accordion__button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  justify-content: normal;
  text-align: left;
  padding: 0;
  color: #1b1b1b;
  background-color: var(--Very-Faint-Blue);
  background-image: url(img/remove.svg), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: right 1.25rem center;
  background-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  padding: 1rem 3.5rem 1rem 1.25rem;
  text-decoration: none;
  width: 100%;
  padding-left: 0;
}
button.usa-accordion__button {
  font-weight: 500;
}
section {
  padding-top: 30px;
  padding-bottom: 30px;
}
#semi-independent .semi-independent-card .usa-card__container {
  background: transparent;
  border: none;
  border-radius: 0px;
  transition: all ease 300ms;
}
#semi-independent .semi-independent-card .usa-card__container:hover {
  color: white;
  background-color: var(--Primary-Dark-Blue);
  border-radius: 8px;
}
.badge {
	padding-left: .65em;
  padding-right: .64em;
  font-size: .64em;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  padding-top: .65em;
  padding-bottom: .65em;
  margin-bottom: .35em;
}
.badge.text-bg-primary {
	background: #F1F7FF;
	color: var (--Primary-Dark-Blue);
}
.news-snippet {
  position: relative;
  margin-bottom: 2rem;
}
.news-snippet .icon-rule {
  width: 21px;
  transform: rotate(21deg);
  position: absolute;
  left: -27px;
  top: 0px;
  display: none;
}
.news-snippet h4 {
  margin-bottom: .5em;
}
.featured-news-snippet {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media (min-width:640px) {
  #semi-independent .semi-independent-card:nth-child(odd) .usa-card__container {
    border-right: 1px solid var(--Industrial-Grey);   
  }
  .quick-link-box + .quick-link-box {
    transform: scale(2, 3);
  }
  .news-snippet .icon-rule {
    display: block;
  }
  
#doe-news .grid-row.grid-gap-lg>* {
  padding-left: 2rem;
 
}
/* #doe-news a {
  color: var(--Elemental-Grey);
}
#doe-news h4 {
  color: var(--Primary-Dark-Blue);
} */

}
@media screen and (min-width:1024px) {
  .featured-news-snippet {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    position: absolute;
    bottom: -85px;
    left: -1px;
    width: 408px;
    box-shadow: var(--box-shadow);
}
}

.usa-card__img {
  position: relative;
  
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--Primary-Dark-Blue);
}

.usa-card__img:hover .overlay {
  opacity: .85;
}
.usa-card__img:hover .text {
  opacity: 1;
}

.text {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  line-height: 1;
}
.text a {
  font-size: .9rem;
  color: white;
}


/*============= 
  JOIN OUR TEAM 
==============*/

@media screen and (min-width:640px) {
  #careers .grid-container .grid-row:nth-child(3) {
    flex-direction: row-reverse;
  }
}

#careers .usa-card:last-child, .usa-prose .usa-card:last-child {
  margin-bottom: .75rem;
}
/*============= 
  PROGRAM OFFICES
==============*/
#program-office-content-one h5,
#senior-leadership h5,
#areas-of-focus h5 {
    color: var(--Aqua-Blue);
    text-transform: uppercase;
}
@media screen and (min-width:640px) {
  #program-office-content-one .grid-row:nth-child(1) {
    flex-direction: row-reverse;
  }
}

